<h3>Currently you have selected {{ counter }} movies</h3>

<table class="table table">

    <thead>
  
      <tr>
        <th>Id</th>  
        <th>Name</th>
        <th>Director</th> 
        <th>Image</th>
        <th>Duration</th>
        <th>Release Date</th>
        <th>Genre</th>
      </tr>
  
    </thead>

    <button class="btn btn-primary" (click)="selectedAll = false; selectedAny = false;" (click)="deselectAllCounter()">
      Reset
  </button>
  <button class="btn btn-primary" (click)="selectedAll = true" (click)="selectAllCounter()">
      Select all
  </button>

  
    <tr (selected)="selected($event)"
    [selectedAny]="selectedAny" [selectedAll]="selectedAll"
    *ngFor="let movie of movies" [movieRow]="movie">
  
    </tr>
  </table>


  <router-outlet></router-outlet>
